In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
from peptdeep.model.charge import *
import pandas as pd

model = ChargeModelForAASeq(min_charge=1, max_charge=2)

seq_df = pd.DataFrame({
    'sequence': ['ABCDE','FGHIJK','LMNOPQ','RSTUVWXYZ'],
    'charge_indicators': [[1,0],[0,1],[1,1],[0,0]],
})
model.train(seq_df)
model.predict(seq_df)
model.predict_and_clip_charges(seq_df, charge_prob_cutoff=0.3)

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

  sequence charge_indicators  nAA  charge_prob  charge
0    ABCDE            [1, 0]    5     0.739165       1
1   FGHIJK            [0, 1]    6     0.439334       1
1   FGHIJK            [0, 1]    6     0.627932       2
2   LMNOPQ            [1, 1]    6     0.628110       1
2   LMNOPQ            [1, 1]    6     0.587332       2

In [ ]:
model.predict_charges_as_prob(seq_df, 2, 4)

    sequence charge_indicators  nAA  charge_prob  charge
0      ABCDE            [1, 0]    5     0.249596       2
1     FGHIJK            [0, 1]    6     0.627932       2
2     LMNOPQ            [1, 1]    6     0.587332       2
3  RSTUVWXYZ            [0, 0]    9     0.260932       2

In [ ]:
from peptdeep.model.charge import *
import pandas as pd

model = ChargeModelForModAASeq(min_charge=1, max_charge=2)

modseq_df = pd.DataFrame({
    'sequence': ['ABCDE','FGHIJK','LMNOPQ','RSTUVWXYZ'],
    'mods': ['', '', 'Oxidation@M', 'Phospho@T'],
    'mod_sites': ['', '', '2', '3'],
    'charge_indicators': [[1,0],[0,1],[1,1],[0,0]],
})
model.train(modseq_df)
model.predict(modseq_df)
model.predict_and_clip_charges(modseq_df, charge_prob_cutoff=0.3)

  sequence         mods mod_sites charge_indicators  nAA  charge_prob  charge
0    ABCDE                                   [1, 0]    5     0.814867       1
1   FGHIJK                                   [0, 1]    6     0.708186       2
2   LMNOPQ  Oxidation@M         2            [1, 1]    6     0.712738       1
2   LMNOPQ  Oxidation@M         2            [1, 1]    6     0.534221       2

In [ ]:
model.predict_charges_as_prob(modseq_df, 2, 4)

,sequence,mods,mod_sites,charge_indicators,nAA,charge_prob,charge
0,ABCDE,,,"[1, 0]",5,0.224946,2
1,FGHIJK,,,"[0, 1]",6,0.708186,2
2,LMNOPQ,Oxidation@M,2,"[1, 1]",6,0.534221,2
3,RSTUVWXYZ,Phospho@T,3,"[0, 0]",9,0.278221,2